
*.pyc
/stubs/
.idea/webear.iml
.idea/misc.xml
/src/sandbox/.ipynb_checkpoints/
/src/optimizers/hindenburg_omen/param_importances.png
/src/optimizers/hindenburg_omen/optimization_history.png
/src/runners/vix_storage.db
/src/runners/mmi_optuna_study_test.db
/src/runners/mmi_optuna_study.db
/src/runners/1day_call_vix.db
/src/runners/1day_call_balanced_vix.db
/src/optimizers/roulette/toto.npz
/src/optimizers/roulette/toto.db
/src/optimizers/roulette/roulette.db
/src/optimizers/roulette/my_storage_roulette
/src/optimizers/roulette/dataset.2026.03.30.npz
/src/optimizers/roulette/catboost_info/
/src/optimizers/roulette/toto.npz
/src/optimizers/roulette/toto.db
/src/optimizers/roulette/roulette.db
/src/optimizers/roulette/my_storage_roulette
/src/optimizers/roulette/dataset.2026.03.30.npz
/src/optimizers/roulette/catboost_info/
/src/optimizers/regime/spx_study__target_OTM.db
/src/optimizers/regime/models/
/src/optimizers/regime/logs/
